body{
    background-color: black;
    background-repeat: none;
    background-size: cover;
}
p{
    color: rgb(247, 244, 241);
    position: relative;
    top: 100px;
    left: 660px;
    font-size: 20px;
}

#start{
        position: relative;
        left: 820px;
        top: 50px;
        width: 100px;
        height: 50px;
        background-color: aqua;
        font-size: 23px;
}


#myCanvas{
    background-image: url();
    border: 1px solid #d3d3d3;
    background-color: #747070;
    margin-left: 30%;
    margin-top: 10%;
}

#imgStart{
    position: relative;
    height: 300px;
    width: 600px;
    margin-left: 30%;
    margin-top: 10%;
    
}

#playerImg{
    width: 10px;
    height: 10px;
    display: none;
}




